body{
  background: #333;
  color: orange;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

.grid {
  border: 1px solid black;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

@media all and (min-width: 480px) {
  .grid-row-sm {flex-direction: row;}
}
@media  all and (min-width: 720px) {
  .grid-row-md {flex-direction: row;}
}
@media  all and (min-width: 960px) {
  .grid-row-lg {flex-direction: row;}
}
