<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Eugenalator</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
    </ul>
      <!-- <p>I'm up here</p> -->
    <%= yield %>
      <!-- <p>I'm down here</p> -->
  </body>
</html>


<!-- Notes:

1) create links(to navigate)
2) add actions (ie get action in controller)
3) add code to action
4) link with erb.file
5) populate .erb with it's content -->
